# Create /etc/systemd/system/resolution-setter.service
[Unit]
Description=Set Resolution
After=display-manager.service
Wants=display-manager.service

[Service]
Type=oneshot
Environment=DISPLAY=:0
ExecStartPre=/bin/sleep 3
ExecStart=/bin/bash /usr/local/bin/resolution_setter.sh
RemainAfterExit=yes

[Install]
WantedBy=graphical.target